<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>images</directory>
  <name>图片组件</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      create table {databaseprefix}images(
			id int identity(1,1) not null primary key,
			sign nvarchar(20),
			title nvarchar(255) ,
			img_url nvarchar(255),
			link_url nvarchar(255),
			content ntext,
			sort_id int default 0,
			back_color nvarchar(20),
			is_lock	tinyint default 0,
			add_time datetime
		);
      ]]></sql>
  </install>
  <uninstall>
    <sql>drop table {databaseprefix}images</sql>
  </uninstall>
  <urls>
  </urls>
  <menu>
    <nav name="plugin_images" title="图片组件" url="admin/index.aspx" action="Show,Add,Edit,Delete" />
  </menu>
</plugin>