<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>service</directory>
  <name>在线客服</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <table>
    <sql>{databaseprefix}online_service</sql>
  </table>
  <table>
    <sql>{databaseprefix}online_service_group</sql>
  </table>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}online_service(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [group_id] [int] NOT NULL,
	      [title] [nvarchar](100),
	      [img_url] [nvarchar](255),
	      [link_url] [nvarchar](255),
	      [sort_id] [int] NOT NULL DEFAULT ((99)),
	      [is_lock] [tinyint] NOT NULL DEFAULT ((0)),
	      [add_time] [datetime] NOT NULL DEFAULT (getdate())
      )
      ]]></sql>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}online_service_group(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [title] [nvarchar](100),
	      [default_view] [tinyint] NOT NULL DEFAULT ((0)),
	      [sort_id] [int] NOT NULL DEFAULT ((99)),
	      [is_lock] [tinyint] NOT NULL DEFAULT ((0))
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}online_service</sql>
    <sql>Drop Table {databaseprefix}online_service_group</sql>
  </uninstall>
  <urls />
  <menu>
    <nav name="plugin_lineservice" title="在线客服" action="Show,View">
      <nav name="plugin_lineservice_install" title="参数配置" url="admin/install.aspx" action="Show,View,Edit" />
      <nav name="plugin_lineservice_list" title="客服列表" url="admin/index.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_lineservice_group" title="客服分组" url="admin/group_list.aspx" action="Show,View,Add,Edit,Delete" />
    </nav>
  </menu>
</plugin>