<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>baseback</directory>
  <name>数据库维护</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <table />
  <install />
  <uninstall />
  <urls />
  <menu>
    <nav name="plugin_baseback" title="数据库维护" url="admin/index.aspx" action="Show,View,Delete,Back,Restore,Replace" />
  </menu>
</plugin>