<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>DTcms内容管理系统</webname>
  <weburl>http://demo.dtcms.net</weburl>
  <webcompany>深圳市动力启航软件有限公司</webcompany>
  <webaddress>广东省深圳市宝安区西乡街道</webaddress>
  <webtel>13800138000</webtel>
  <webfax />
  <webmail>info@dtcms.net</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>lilg1989</smsusername>
  <smspassword>198911</smspassword>
  <smssubmit>get</smssubmit>
  <smsapikey />
  <smssendpara>cmd=tx&amp;pass=2&amp;uid={uid}&amp;pwd={md5pass}&amp;mobile={mobile}&amp;content={content}</smssendpara>
  <smssign>0</smssign>
  <smssigntxt>DTcms</smssigntxt>
  <smssendanswer>0</smssendanswer>
  <smssendcode>(\d+)</smssendcode>
  <smssendlable>100</smssendlable>
  <smssendcount>10</smssendcount>
  <smsmark>,</smsmark>
  <smsqueryapiurl>http://sms.dtcms.net/httpapi/</smsqueryapiurl>
  <smsquerypara>cmd=mm&amp;uid={uid}&amp;pwd={md5pass}</smsquerypara>
  <smsqueryanswer>0</smsqueryanswer>
  <smsquerycode>(\d+)$</smsquerycode>
  <smsqueryformat>剩余可发短信{0}条</smsqueryformat>
  <smserrorcode>100|发送成功
101|验证失败
102|短信不足
103|操作失败
104|非法字符
105|内容过多
106|号码过多
107|频率过快
108|号码内容空
109|账号冻结
110|禁止频繁单条发送
111|系统暂定发送
112|号码错误
113|定时时间格式不对
114|账号被锁，10分钟后登录
115|连接失败
116|禁止接口发送
117|绑定IP不正确
120|系统升级</smserrorcode>
  <emailsmtp>smtp.exmail.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>465</emailport>
  <emailfrom>admin@qq.com</emailfrom>
  <emailusername>admin@qq.com</emailusername>
  <emailpassword>9798126DDFF926CA39DFAC00CC96B2C3</emailpassword>
  <emailnickname>DTcms</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileremote>0</fileremote>
  <imgextension>.jpg,.png</imgextension>
  <fileextension>.gif,.jpg,.png,.bmp,.rar,.zip,.doc,.xls,.txt</fileextension>
  <videoextension>.flv,.mp3,.mp4,.avi</videoextension>
  <attachsize>51200000</attachsize>
  <videosize>51200000</videosize>
  <imgsize>2048000</imgsize>
  <imgmaxheight>1600</imgmaxheight>
  <imgmaxwidth>1600</imgmaxwidth>
  <thumbnailheight>200</thumbnailheight>
  <thumbnailwidth>200</thumbnailwidth>
  <thumbnailmode>HW</thumbnailmode>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>/upload/201609/23/201609231959503431.jpg</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>123456</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <fomatpage>1</fomatpage>
  <pagecache>0</pagecache>
  <cachetime>1</cachetime>
  <deltable>0</deltable>
  <author>管理员|DTcms</author>
  <source>本站|网络</source>
  <cachefix>cache</cachefix>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>