<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html" cache="1" cachepath="index">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" cache="1" cachepath="error" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" cache="1" cachepath="login" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" cache="1" cachepath="register" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" cache="1" cachepath="repassword" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="DTcms.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="DTcms.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="online" type="plugin" page="online.aspx" inherit="DTcms.Web.Plugin.Online.online" templet="online.html">
    <item path="online.aspx" pattern="online.aspx" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="tags" type="other" page="tags" cache="1" cachepath="tag_{id}" inherit="DTcms.Web.UI.Page.tags" templet="tags" pagesize="20">
    <item path="tag/{0}.aspx" pattern="tag/(\d+).aspx" querystring="id=$1" />
    <item path="tag/{0}.aspx" pattern="tag/(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="photo" type="index" page="photo.aspx" cache="1" cachepath="photo" inherit="DTcms.Web.UI.Page.article" templet="photo.html" channel="photo">
    <item path="photo.aspx" pattern="photo.aspx" />
  </rewrite>
  <rewrite name="photo_list" type="list" page="photo_list.aspx" cache="1" cachepath="photo_{category_id}_{page}" inherit="DTcms.Web.UI.Page.article_list" templet="photo_list.html" channel="photo" pagesize="20">
    <item path="photo/{0}.aspx" pattern="photo/(\d+).aspx" querystring="category_id=$1" />
    <item path="photo/{0}/{1}.aspx" pattern="photo/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
    <item path="photo/{0}.aspx" pattern="photo/(\w+).aspx" querystring="call_index=$1" />
    <item path="photo/{0}/{1}.aspx" pattern="photo/(\w+)/(\d+).aspx" querystring="call_index=$1^page=$2" />
  </rewrite>
  <rewrite name="photo_show" type="detail" page="photo_show.aspx" cache="1" cachepath="photo_show_{id}" inherit="DTcms.Web.UI.Page.article_show" templet="photo_show.html" channel="photo">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="down" type="index" page="down.aspx" cache="1" cachepath="down" inherit="DTcms.Web.UI.Page.article" templet="down.html" channel="down">
    <item path="down.aspx" pattern="down.aspx" />
  </rewrite>
  <rewrite name="down_list" type="list" page="down_list.aspx" cache="1" cachepath="down_{category_id}_{page}" inherit="DTcms.Web.UI.Page.article_list" templet="down_list.html" channel="down" pagesize="20">
    <item path="down/{0}.aspx" pattern="down/(\d+).aspx" querystring="category_id=$1" />
    <item path="down/{0}/{1}.aspx" pattern="down/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
    <item path="down/{0}.aspx" pattern="down/(\w+).aspx" querystring="call_index=$1" />
    <item path="down/{0}/{1}.aspx" pattern="down/(\w+)/(\d+).aspx" querystring="call_index=$1^page=$2" />
  </rewrite>
  <rewrite name="down_show" type="detail" page="down_show.aspx" cache="1" cachepath="down_show-{id}" inherit="DTcms.Web.UI.Page.article_show" templet="down_show.html" channel="down">
    <item path="down/show-{0}.aspx" pattern="down/show-(\d+).aspx" querystring="id=$1" />
    <item path="down/show-{0}.aspx" pattern="down/show-(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="video" type="index" page="video.aspx" cache="1" cachepath="video" inherit="DTcms.Web.UI.Page.article" templet="video.html" channel="video">
    <item path="video.aspx" pattern="video.aspx" />
  </rewrite>
  <rewrite name="video_list" type="list" page="video_list.aspx" cache="1" cachepath="video_{category_id}_{page}" inherit="DTcms.Web.UI.Page.article_list" templet="video_list.html" channel="video" pagesize="20">
    <item path="video/{0}.aspx" pattern="video/(\d+).aspx" querystring="category_id=$1" />
    <item path="video/{0}/{1}.aspx" pattern="video/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
    <item path="video/{0}.aspx" pattern="video/(\w+).aspx" querystring="call_index=$1" />
    <item path="video/{0}/{1}.aspx" pattern="video/(\w+)/(\d+).aspx" querystring="call_index=$1^page=$2" />
  </rewrite>
  <rewrite name="video_show" type="detail" page="video_show.aspx" cache="1" cachepath="video_show_{id}" inherit="DTcms.Web.UI.Page.article_show" templet="video_show.html" channel="video">
    <item path="video/show-{0}.aspx" pattern="video/show-(\d+).aspx" querystring="id=$1" />
    <item path="video/show-{0}.aspx" pattern="video/show-(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" cache="1" cachepath="content_{call_index}" inherit="DTcms.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\d+).aspx" querystring="id=$1" />
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="goods" type="index" page="goods.aspx" cache="1" cachepath="goods" inherit="DTcms.Web.UI.Page.article" templet="goods.html" channel="goods">
    <item path="goods.aspx" pattern="goods.aspx" />
  </rewrite>
  <rewrite name="goods_list" type="list" page="goods_list.aspx" cache="1" cachepath="goods_{category_id}_{page}" inherit="DTcms.Web.UI.Page.article_list" templet="goods_list.html" channel="goods" pagesize="20">
    <item path="goods/{0}.aspx" pattern="goods/(\d+).aspx" querystring="category_id=$1" />
    <item path="goods/{0}/{1}.aspx" pattern="goods/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="gsearch" type="list" page="gsearch.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="gsearch.html" channel="goods" pagesize="20" />
  <rewrite name="goods_show" type="detail" page="goods_show.aspx" cache="1" cachepath="goods_show_{id}" inherit="DTcms.Web.UI.Page.article_show" templet="goods_show.html" channel="goods">
    <item path="goods/show-{0}.aspx" pattern="goods/show-(\d+).aspx" querystring="id=$1" />
    <item path="goods/show-{0}.aspx" pattern="goods/show-(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="forum" type="plugin" page="forum.aspx" inherit="DTcms.Web.Plugin.Forum.board" templet="board.html">
    <item path="forum/board.aspx" pattern="forum/board.aspx" />
  </rewrite>
  <rewrite name="forumpostlist" type="plugin" page="forumpostlist.aspx" inherit="DTcms.Web.Plugin.Forum.post_list" templet="post_list.html">
    <item path="forum/post_list/{0}.aspx" pattern="forum/post_list/(\d+).aspx" querystring="board_id=$1" />
    <item path="forum/post_list/{0}/{1}.aspx" pattern="forum/post_list/(\d+)/(\w+).aspx" querystring="board_id=$1^page=$2" />
  </rewrite>
  <rewrite name="forumpostpub" type="plugin" page="forumpostpub.aspx" inherit="DTcms.Web.Plugin.Forum.post_pub" templet="post_pub.html">
    <item path="forum/post_pub/{0}/{1}/{2}.aspx" pattern="forum/post_pub/(\d+)/(\d+)/(\w+).aspx" querystring="board_id=$1^post_id=$2^action=$3" />
  </rewrite>
  <rewrite name="forumpostshow" type="plugin" page="forumpostshow.aspx" inherit="DTcms.Web.Plugin.Forum.post_show" templet="post_show.html">
    <item path="forum/post_show/{0}.aspx" pattern="forum/post_show/(\d+).aspx" querystring="post_id=$1" />
    <item path="forum/post_show/{0}/{1}.aspx" pattern="forum/post_show/(\d+)/(\w+).aspx" querystring="post_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news" type="index" page="news.aspx" cache="1" cachepath="news_{page}" inherit="DTcms.Web.UI.Page.article" templet="news.html" channel="news" pagesize="5">
    <item path="news/index.aspx" pattern="news/index.aspx" />
    <item path="news/index-page-{0}.aspx" pattern="news/index-page-(\d+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" cache="1" cachepath="news_{category_id}_{page}" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="10">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\d+).aspx" querystring="category_id=$1^page=$2" />
    <item path="news/{0}.aspx" pattern="news/(\w+).aspx" querystring="call_index=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\w+)/(\d+).aspx" querystring="call_index=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" cache="1" cachepath="news_show_{id}" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
    <item path="news/show-{0}.aspx" pattern="news/show-(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
  <rewrite name="news_category" type="category" page="news_category.aspx" inherit="DTcms.Web.UI.Page.category" templet="news_category.html" channel="news">
    <item path="news/category-{0}.aspx" pattern="news/category-(\d+).aspx" querystring="category_id=$1" />
    <item path="news/category-{0}.aspx" pattern="news/category-(\w+).aspx" querystring="call_index=$1" />
  </rewrite>
</urls>