<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>lable</directory>
  <name>自定义标签</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
    create table {databaseprefix}lable(
			id [int] identity(1,1) not null primary key,
			call_index [nvarchar](50),
			title [nvarchar](100),
            type [tinyint],
			sort_id [int],
			content [ntext],
			user_name [nvarchar](100),
			is_lock	[tinyint],
			add_time [datetime]
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}lable</sql>
  </uninstall>
  <urls>
  </urls>
  <menu>
    <nav name="plugin_lable" title="自定义标签" url="admin/index.aspx" action="Show,Add,Edit,Delete" />
  </menu>
</plugin>