<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>menu</directory>
  <name>导航菜单</name>
  <author>Hailin</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      create table {databaseprefix}menu(
			id int identity(1,1) not null primary key,
			title nvarchar(255) ,
			link_url nvarchar(255),
			parent_id int default 0,
			class_list nvarchar(500),
			class_layer int default 1,
			open_mode nvarchar(20) ,
			sort_id int default 0,
            css_txt nvarchar(50),
            img_url nvarchar(200),
			is_lock	tinyint default 0,
			add_time datetime
		);
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}menu</sql>
  </uninstall>
  <urls>
  </urls>
  <menu>
    <nav name="plugin_menu" title="导航菜单" url="admin/index.aspx" action="Show,Add,Edit,Delete" />
  </menu>
</plugin>