<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FeedBack>0</FeedBack>
  <WebName>婚礼顾问 | 婚庆公司 | 婚礼策划 | 婚礼创意 | 婚礼布置 | 婚礼主持 | 婚礼摄影</WebName>
  <WebUrl>http://www.baidu.com</WebUrl>
  <WebPath>/</WebPath>
  <WeblogPath>LogFile</WeblogPath>
  <WebTel>0781-0000000</WebTel>
  <WebFax />
  <Tell />
  <WebEmail />
  <Address />
  <WebCrod />
  <WebCopyright />
  <WebKeywords>北京婚庆公司 婚庆服务 婚礼现场 婚礼花艺 个性婚礼 教堂婚礼 婚礼策划公司 婚礼主题</WebKeywords>
  <WebDescription>婚庆公司 婚庆服务 婚礼现场 婚礼花艺 个性婚礼 教堂婚礼 婚礼策划公司 婚礼主题</WebDescription>
  <WebLogStatus>0</WebLogStatus>
  <WebKillKeywords>Fuck</WebKillKeywords>
  <WebProSize>4</WebProSize>
  <WebNewsSize>10</WebNewsSize>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS</WebFileType>
  <WebFileSize>5120</WebFileSize>
  <IsThumbnail>1</IsThumbnail>
  <ProWidth>160</ProWidth>
  <ProHight>120</ProHight>
  <IsWatermark>0</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>8</ImgWaterTransparency>
  <WaterText>婚庆有限公司</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
</WebSet>