<div id="header">
    <div class="content">
        <a href="index.html" id="logo">
            <img src="<%templateskin%>/upload/71/201512/1449070833744.png" height="40" /></a><ul
                id="nav">
                <li class="navitem"><a class="active" href="<%linkurl("index")%>" target="_self">Home
                <strong class="nav_ico"></strong></a></li>
                <li class="navitem"><a href="<%linkurl("news_list",54,1)%>" target="_self">研究<strong
                    class="nav_ico"></strong></a></li>
                <li class="navitem"><a href="<%linkurl("single","publish")%>" target="_self">出版<strong
                    class="nav_ico"></strong></a></li>
                <li class="navitem"><a href="javascript:;" target="">更多<strong class="nav_ico"></strong><i
                    class="fa fa-angle-down"></i></a>
                    <ul class="subnav">
                        <li><a href="http://weibo.com/wuchangjian" target="_self">微博<i class="fa fa-angle-right"></i></a></li>
                        <li><a href="<%linkurl("about","about")%>" target="_self">简介<i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </li>
            </ul>
        <div class="clear">
        </div>
    </div>
    <a id="headSHBtn" href="javascript:;">X</a></div>
