<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="author" content="dt猫（www.dtmao.cc）" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/lib.css">
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css">
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/upload/71/71.css" />
    <script type="text/javascript" src="http://s.lfge.net/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/script/lib.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/script/org.js" data-main="baseMain"></script>
    <%set string category_title=get_category_title(model.category_id,"单页")%>
    <title>{model.title} - {site.name}</title>
    <meta content="{model.seo_keywords}" name="keywords" />
    <meta content="{model.seo_description}" name="description" />
<!--    /*
     * *************************************************
                           (0 0)
       +-------------oOO----(_)----------------+
       |          Powered By : DTmao            |
       |          http://www.dtmao.cc           |
       |             QQ:809451989             |
       |        E-mail:809451989@qq.com        |
       |       专注 DTcms /模板/插件/二次开发                   |
       +--------------------------oOO----------+
                          |__|__|
                           || ||
                          ooO Ooo
     * *************************************************
    */-->
</head>
<body class="nobanner">
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div id="sitecontent">
        <div class="npagePage">
            <div class="content">
                <div class="header">
                    <p class="title">
                        出版</p>
                    <p class="subtitle">
                        BOOKS</p>
                </div>
                <div class="fw postbody">
                    {model.content}
                </div>
                <div id="pages">
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</body>
</html>
