<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="author" content="dt猫（www.dtmao.cc）" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/lib.css">
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css">
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/upload/71/71.css">
    <script type="text/javascript" src="http://s.lfge.net/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/script/lib.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/script/org.js" data-main="baseMain"></script>
    <title>{model.title} - {site.name}</title>
    <meta name="keywords" content="{model.seo_keywords}" />
    <meta name="description" content="{model.seo_description}" />
    <meta name="author" content="www.dtmao.cc">
<!--    /*
     * *************************************************
                           (0 0)
       +-------------oOO----(_)----------------+
       |          Powered By : DTmao            |
       |          http://www.dtmao.cc           |
       |             QQ:809451989             |
       |        E-mail:809451989@qq.com        |
       |       专注 DTcms /模板/插件/二次开发                   |
       +--------------------------oOO----------+
                          |__|__|
                           || ||
                          ooO Ooo
     * *************************************************
    */-->
</head>
<body class="nobanner">
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div id="sitecontent">
        <div class="npagePage">
            <div class="content">
                <div class="header" id="plheader">
                    <p class="title">
                        作品</p>
                    <p class="subtitle">
                        works</p>
                </div>
                <div id="projectlist">
                    <div class="wrapper">
                        <%set DataTable worksList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "works_list", category_id, "__id__")%><!--取得一个分页DataTable-->
                        <%foreach(DataRow dr in worksList.Rows)%>
                        <div class="projectitem">
                            <a href="<%linkurl("works_show",{dr[id]})%>" target="_blank">
                                <img src="{dr[img_url]}" width="500" height="320" /><div class="project_info">
                                    <div>
                                        <p class="title">
                                            {dr[title]}</p>
                                        <p class="subtitle">
                                            {dr[sub_title]}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <%/foreach%>
                    </div>
                </div>
                <div class="clear">
                </div>
                <div id="pages">
                    {pagelist}
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</body>
</html>
