<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="DTcms.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="DTcms.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="works_list" type="list" page="works_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="works_list.html" channel="works" pagesize="12">
    <item path="works_list-{0}.aspx" pattern="works_list-(\d+).aspx" querystring="category_id=$1" />
    <item path="works_list-{0}-{1}.aspx" pattern="works_list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
    <item path="works.aspx" pattern="works.aspx" />
  </rewrite>
  <rewrite name="works_show" type="detail" page="works_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="works_show.html" channel="works">
    <item path="works_show-{0}.aspx" pattern="works_show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="8">
    <item path="news_list-{0}.aspx" pattern="news_list-(\d+).aspx" querystring="category_id=$1" />
    <item path="news_list-{0}-{1}.aspx" pattern="news_list-(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news_show-{0}.aspx" pattern="news_show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="single" type="detail" page="single.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="single.html" channel="single">
    <item path="single-{0}.aspx" pattern="single-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="about" type="detail" page="about.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="about.html" channel="single">
    <item path="about.aspx" pattern="about.aspx" />
    <item path="about-{0}.aspx" pattern="about-(\w+).aspx" querystring="page=$1" />
  </rewrite>
</urls>